.panda-bg-color{
    background-color: #fceae8;
}
.panda-btn{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
    width: 130px;
    height: 52px;
    color: #FFFFFF;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
}
